<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <h1>Please select your course: </h1>
            <br>
            <ul>
                <a [routerLink]="['/discussion', course]" *ngFor="let course of courseList">
                    <li>
                        {{ course }}
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <br>
            <h1>Current Topics</h1>
            <br>

            <div class="container" *ngIf="postList.length == 0">
                <h1>Oops.... No post yet =.=</h1>
                <h2 style="margin-left: 50px;">Start the first topic! ^_^</h2>
            </div>

            <div class="container" *ngIf="postList.length != 0">
                <div class="row" id="header_row">
                    <div class="col-4">
                        Title
                    </div>
                    <div class="col-4">
                        Author
                    </div>
                    <div class="col-4">
                        Created at
                    </div>                                
                </div>
                <a [routerLink]="['/discussion', p.id]" *ngFor="let p of postList">
                    <div class="row" id="listItem">
                        <div class="col-4">
                            {{p.title}}
                        </div>
                        <div class="col-4">
                            {{p.username}}
                        </div>
                        <div class="col-4">
                            {{p.created_at}}
                        </div>                        
                    </div>                    
                </a>
            </div>
            <button style="margin-left: 15px; border-radius: 5px;" (click)="addPost()">New Post</button>
            <div class="container" *ngIf="addPostBool==true">
                <form [formGroup]="newPostForm">
                    <label>Title</label><br>
                    <input type="text" formControlName="title"><br>
                    <label>Content</label><br>
                    <input type="text" formControlName="content" style="width: 80%;"><br><br>
                    <!-- <textarea rows="4" cols="50" formControlName="comment"></textarea> -->
                </form>
                <button (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>