#searchBtn {
    background-color: rgb(211, 227, 233);
    color: rgb(14, 124, 226);
    border: black;
}
#searchBtn:hover {
    background-color: rgb(10, 122, 163);
    color: white;
    border: black;
}

#regBtn {
    background-color: rgb(211, 227, 233);
    color: rgb(14, 124, 226);
    border: black;
}

#regBtn:hover {
    background-color: rgb(10, 122, 163);
    color: white;
    border: black;
}
