#form {
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    border-color: red;
    margin: auto;
    width: 500px;
}

#formArea {
    margin: auto;
}

label {
    margin-left: 25%;

}

input {
    margin-left: 25%;

}

button {
    margin-left: 25%;

}

h1 {
    margin-left: 20%;
}