<div class="container">
    <br>
    <div class="row">
        <div class="col-12">
             <div class="container" id="formArea">
                 <form [formGroup]="regForm" id="form">
                    <label>Username</label><br>
                    <input type="text" placeholder="username" aria-label="username" formControlName="username"><br>
                    <label>Password</label><br>
                    <input type="password" placeholder="password" aria-label="password" formControlName="password"><br>
                    <label>First Name</label><br>
                    <input type="text" placeholder="First Name" aria-label="First Name" formControlName="first_name"><br>
                    <label>Last Name</label><br>
                    <input type="text" placeholder="Last Name" aria-label="Last Name" formControlName="last_name"><br>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchBtn" (click)="reg()">Register</button>
                 </form>
             </div>
        </div>
    </div>
</div>